{% extends "base.html" %}
{% block content %}
<h5>Do you want to share?</h5>
<div class="row" id="to-share-choices">
    <button class="btn waves-effect waves-light" type="submit" id="share">Yes
    </button>
    <button class="btn waves-effect waves-teal btn-flat" type="submit" id="no-share">No
    </button>
</div>

<div class="row" id="share-form" hidden>
    <form class ="col s12" action="/share-submit" method="post">
        <div class="row">
        <div class="input-field col s12">
            <input placeholder="Enter duration (days)" name="duration" id="duration" type="number" min="0" step="1" class="validate">
            <span class="helper-text" data-error="Please enter numbers" data-success="right">Enter how many days you allow the receiver to access the shared resource.</span>
        </div>
    </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Generate Link
                <i class="material-icons right">add</i>
            </button>
            <button class="btn waves-teal btn-flat" onclick="location.href='/'">Cancel</button>
        </div>
    </form>
</div>

{% endblock %}

{% block additionallibraries_bottom %} 
<script type="text/javascript" src="{{ url_for('static', filename='js/share.js') }}"></script>
{% endblock %}